<div class="about-wrapper scroll inner bg-white h-100 w-100 animate__animated animate__fadeInLeft">
  <div class="about-content w-100 pe--30 ps--30 pt--30">
    <div class="title position-relative fs-20 fw-700 d-flex align-items-baseline">
      <span class="first-word text-first-color">A</span>
      <span>bout Me</span>
    </div>

    <div class="d-flex">
      <div class="width-50 pt--30 pe--30">
        <p class="fs-14 fw-400 text-lightgray-color text-justify">
          An innovative FrontEnd developer who gives special consideration to code quality, software architecture, and
          teamwork, welcomes new challenges and eager to learn new skills, considers to be an open and dynamic person.
          Broad technical ability to analyze and solve complex problems. Great team player, goal-oriented.
        </p>
      </div>
      <div class="width-50 pt--30 ps--30 border-line-v position-relative">
        <ul class="p-0 list-style-none">
          <li class="d-flex align-items-center fw-500 justify-content-between w-100 position-relative pb--20">
            <span
              class="bg-first-color text-white pe--8 ps--8 me--8 round-4 fs-14 h--22 d-flex align-items-center fw-500">
              Age
            </span>

            <span>
              29
            </span>
          </li>

          <li class="d-flex align-items-center fw-500 justify-content-between w-100 position-relative pt--15 pb--15">
            <span
              class="bg-first-color text-white pe--8 ps--8 me--8 round-4 fs-14 h--22 d-flex align-items-center fw-500">
              Residence
            </span>

            <span>
              Iran
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="skill-content w-100 pe--30 ps--30 pt--30">
    <div class="d-flex title position-relative">
      <div class="width-50 fs-20 fw-700 d-flex align-items-baseline">
        <span class="first-word text-first-color">S</span>
        <span>kills</span>
      </div>

      <div class="width-50 fs-20 fw-700 d-flex align-items-baseline ps--30">
        <span class="first-word text-first-color">L</span>
        <span>anguages</span>
      </div>
    </div>

    <div class="d-flex">
      <div class="d-flex width-50 pt--30 pe--30">
        <div class="width-50">
          <div class="d-flex align-items-end mb--8 fs-14">
            <i class="fa fa-check fs-17 text-first-color me--8"></i>
            Angular
          </div>

          <div class="d-flex align-items-end mb--8 fs-14">
            <i class="fa fa-check fs-17 text-first-color me--8"></i>
            Angular Electron
          </div>

          <div class="d-flex align-items-end mb--8 fs-14">
            <i class="fa fa-check fs-17 text-first-color me--8"></i>
            Angular Material
          </div>

          <div class="d-flex align-items-end mb--8 fs-14">
            <i class="fa fa-check fs-17 text-first-color me--8"></i>
            React
          </div>

          <div class="d-flex align-items-end mb--8 fs-14">
            <i class="fa fa-check fs-17 text-first-color me--8"></i>
            REST API
          </div>

          <div class="d-flex align-items-end mb--8 fs-14">
            <i class="fa fa-check fs-17 text-first-color me--8"></i>
            Bootstrap
          </div>

          <div class="d-flex align-items-end mb--8 fs-14">
            <i class="fa fa-check fs-17 text-first-color me--8"></i>
            Git
          </div>

          <div class="d-flex align-items-end mb--8 fs-14">
            <i class="fa fa-check fs-17 text-first-color me--8"></i>
            WebSocket
          </div>

          <div class="d-flex align-items-end mb--8 fs-14">
            <i class="fa fa-check fs-17 text-first-color me--8"></i>
            Scrum
          </div>
        </div>

        <div class="width-50 ps--50">
          <div class="d-flex align-items-end mb--8 fs-14">
            <i class="fa fa-check fs-17 text-first-color me--8"></i>
            Typescript
          </div>

          <div class="d-flex align-items-end mb--8 fs-14">
            <i class="fa fa-check fs-17 text-first-color me--8"></i>
            JavaScript
          </div>

          <div class="d-flex align-items-end mb--8 fs-14">
            <i class="fa fa-check fs-17 text-first-color me--8"></i>
            ES6&ES7
          </div>

          <div class="d-flex align-items-end mb--8 fs-14">
            <i class="fa fa-check fs-17 text-first-color me--8"></i>
            jQuery
          </div>

          <div class="d-flex align-items-end mb--8 fs-14">
            <i class="fa fa-check fs-17 text-first-color me--8"></i>
            CSS3
          </div>

          <div class="d-flex align-items-end mb--8 fs-14">
            <i class="fa fa-check fs-17 text-first-color me--8"></i>
            SCSS
          </div>

          <div class="d-flex align-items-end mb--8 fs-14">
            <i class="fa fa-check fs-17 text-first-color me--8"></i>
            GitHub
          </div>

          <div class="d-flex align-items-end mb--8 fs-14">
            <i class="fa fa-check fs-17 text-first-color me--8"></i>
            PrimeNG
          </div>

          <div class="d-flex align-items-end mb--8 fs-14">
            <i class="fa fa-check fs-17 text-first-color me--8"></i>
            Agile
          </div>
        </div>
      </div>
      <div class="width-50 pt--30 ps--30 border-line-v position-relative">
        <div class="mb--20">
          <div class="text-lightgray-color fs-14 mb--10">
            English
          </div>
          <div class="d-flex justify-content-between">
            <span class="fa fa-circle text-first-color"></span>
            <span class="fa fa-circle text-first-color"></span>
            <span class="fa fa-circle text-first-color"></span>
            <span class="fa fa-circle text-first-color"></span>
            <span class="fa fa-circle text-first-color"></span>
            <span class="fa fa-circle text-first-color"></span>
            <span class="fa fa-circle text-first-color"></span>
            <span class="fa fa-circle text-first-color"></span>
            <span class="fa fa-circle text-third-color"></span>
            <span class="fa fa-circle text-third-color"></span>
          </div>
        </div>

        <div>
          <div class="text-lightgray-color fs-14 mb--10">
            Persian
          </div>
          <div class="d-flex justify-content-between">
            <span class="fa fa-circle text-first-color"></span>
            <span class="fa fa-circle text-first-color"></span>
            <span class="fa fa-circle text-first-color"></span>
            <span class="fa fa-circle text-first-color"></span>
            <span class="fa fa-circle text-first-color"></span>
            <span class="fa fa-circle text-first-color"></span>
            <span class="fa fa-circle text-first-color"></span>
            <span class="fa fa-circle text-first-color"></span>
            <span class="fa fa-circle text-first-color"></span>
            <span class="fa fa-circle text-first-color"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
