@import "src/assets/styles/variables";

.experience-wrapper {
  border-radius: 0 4px 4px 0;

  .experience-items {
    &.border-line-v:before {
      left: 50% !important
    }

    .experience-item {
      &:nth-child(even) {
        padding-left: 30px !important;
      }

      &:nth-child(odd) {
        padding-right: 30px !important;
      }
    }

    .experience-item:before {
      content: "";
      background: radial-gradient(ellipse at center, #ddd 0%, rgba(255, 255, 255, 0) 70%);
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
    }
  }

  .date span {
    border: 1px solid $first-color;
  }
}


::ng-deep {
  .main-wrapper.mobile {
    .experience-wrapper {
      border-radius: 4px;
      overflow: hidden;

      .experience-content {
        padding-right: 15px !important;
        padding-left: 15px !important;

        .experience-items .experience-item {
          width: 100% !important;

          &:nth-child(odd) {
            padding-right: 0px !important;
          }

          &:nth-child(even) {
            padding-left: 0px !important;
          }
        }
      }
    }
  }
}
