<div class="experience-wrapper scroll inner bg-white h-100 w-100 animate__animated animate__fadeInLeft">
  <div class="experience-content w-100 pe--30 ps--30 pt--30">
    <div class="title position-relative fs-20 fw-700 d-flex align-items-baseline">
      <span class="first-word text-first-color">E</span>
      <span>xperience</span>
    </div>

    <div class="experience-items d-flex border-line-v position-relative flex-wrap">

      <div *ngFor="let item of experience" class="experience-item position-relative w-50 pt--30">
        <div class="date text-lightgray-color fs-13 hMin--20 mb--15">
          <span class="pe--8 ps--8 round-4">
            {{item.startDate}} - {{item.endDate}}
          </span>
        </div>
        <div class="role text-darkgray-color fs-14 fw-bold mb--5">{{item.roleName}}</div>
        <div class="company-name fs-14 text-first-color fw-bold mb--8">{{item.companyName}}</div>

        <div>
          <p class="fs-12 text-lightgray-color text-justify mb--5">
            {{item.summery}}
          </p>

          <ul class="custom">
            <li class="fs-12 text-lightgray-color text-justify" *ngFor="let detail of item.details">{{detail}}</li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</div>
