<div class="education-wrapper scroll inner bg-white h-100 w-100 animate__animated animate__fadeInLeft">
  <div class="education-content w-100 pe--30 ps--30 pt--30">
    <div class="title position-relative fs-20 fw-700 d-flex align-items-baseline">
      <span class="first-word text-first-color">E</span>
      <span>ducation</span>
    </div>

    <div class="education-items pt--30">

      <div class="education-item position-relative mb--20">
        <div class="date text-lightgray-color fs-13 wMax--110 wMin--110 hMin--20 pe--8 ps--8 mb--15">Date - Date</div>
        <div class="role text-darkgray-color fs-14 fw-bold mb--5">Role Name</div>
        <div class="company-name fs-13 text-lightgray-color mb--8">Company Name</div>

        <div>
          <p class="fs-14 text-lightgray-color text-justify">
            Collaborate with creative and development teams on the execution of ideas.
            Collaborate with creative and development teams on the execution of ideas.
          </p>
        </div>
      </div>

      <div class="education-item position-relative mb--20">
        <div class="date text-lightgray-color fs-13 wMax--110 wMin--110 hMin--20 pe--8 ps--8 mb--15">Date - Date</div>
        <div class="role text-darkgray-color fs-14 fw-bold mb--5">Role Name</div>
        <div class="company-name fs-13 text-lightgray-color mb--8">Company Name</div>

        <div>
          <p class="fs-14 text-lightgray-color text-justify">
            Collaborate with creative and development teams on the execution of ideas.
            Collaborate with creative and development teams on the execution of ideas.
          </p>
        </div>
      </div>

    </div>

  </div>
</div>
