<div class="main-content-wrapper w--480 position-relative h-100">
  <div class="main-content bg-white w-100 h-100 round-4 position-relative box-shadow">
    <div class="main-content-picture position-absolute overflow-hidden w-100 top-0">
      <img class="w-100" src="./assets/images/profile.jpg" />
    </div>

    <div class="main-content-title text-center">
      <span class="d-block fs-30 fw-500 mb--10">
        Samane Motaharinejad
      </span>

      <span class="d-block fs-18 fw-500 text-first-color mb--10">
        Front End Developer
      </span>

      <div class="d-flex justify-content-center onHover">
        <a href="https://github.com/SamaneMotahariNejad" target="_blank" class="me--15 pointer position-relative">
          <i class="fab fa-github fs-18 onHover"></i>
        </a>

        <a href="www.linkedin.com/in/samane-motaharinejad" target="_blank" class="me--15 pointer position-relative">
          <i class="fab fa-linkedin fs-18 onHover"></i>
        </a>

        <a href="https://t.me/Samane_mnejad" target="_blank" class="me--15 pointer position-relative">
          <i class="fab fa-telegram fs-18 onHover"></i>
        </a>

        <a href="https://instagram.com/_its.s.a.m.i_?igshid=NmQ2ZmYxZjA=" target="_blank" class="me--15 pointer position-relative">
          <i class="fab fa-instagram fs-18 onHover"></i>
        </a>
      </div>
    </div>

    <div class="main-content-link bottom-0 hMin--70 main-content-link position-absolute w-100">
      <div class="position-relative w-100 d-flex hMin--70">
        <a [routerLink]="['./assets/Samane-Motaharinejad.pdf']" class="onHover fs-14 fw-600 d-flex align-items-center justify-content-center flex-grow-1 pointer">
          <span class="onHover me--8">
            DOWNLOAD CV
          </span>
          <i class="fa fa-download fs-14 onHover"></i>
        </a>

        <a href="https://t.me/Samane_mnejad" target="_blank"
          class="onHover fs-14 fw-600 d-flex align-items-center justify-content-center flex-grow-1 border-line-v position-relative pointer">
          <span class="onHover me--8">
            CONTACT ME
          </span>
          <i class="fa fa-paper-plane fs-14 onHover"></i>
        </a>
      </div>
    </div>
  </div>
</div>
